.footer
  .footer__left
    お知らせ
    .footer__left__text
      今月の教室
  .footer__right
    .footer__right__about
      suhuri
    .footer__right__link
      %ul.footer__right__link__list
        %li.link__list
          = link_to do
            = fa_icon 'twitter', class: 'icon'
        %li.link__list
          = link_to do
            = fa_icon 'instagram', class: 'icon'
.footer__copyright
  © 2019 suhuri.