.header
  .header__left
    .logo
      %h1.site-title
        %a{href: "/"} suhuri
      %h2.site-sub-title
        金継ぎ教室  
  .header__right
    %ul.menu
      %li.menu__item 
        = link_to "金継ぎ教室について", schools_path
      %li.menu__item 
        = link_to "カレンダー", calendars_path
      %li.menu__item 
        = link_to "ご予約フォーム", reservations_path
      %li.menu__item 
        = link_to "アクセス", accesses_path
        
        