.header
  .header__left
    .logo
      %h1.site-title
        suhuri
      %h2.site-sub-title
        金継ぎ教室
  .header__right
    %ul.menu
      %li.menu__item 金継ぎ教室について
      %li.menu__item カレンダー
      %li.menu__item ご予約フォーム
      %li.menu__item アクセス
.message
  

.footer