.access
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.9804688310733!2d136.5144305151744!3d34.554049898566106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60046acad6665bdd%3A0xa423a3e042bdda3a!2z44CSNTE1LTAwNTYg5LiJ6YeN55yM5p2-6Ziq5biC5a6d5aGa55S677yR77yS77yV4oiS77yS!5e0!3m2!1sja!2sjp!4v1568198358543!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

.address
  %p 三重県松阪市宝塚町
.top
  %a{href: "/"}top