.access
  反映に少し時間がかかることがあります。
  .map
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.1585514757517!2d136.51588689506755!3d34.55164227365082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60046ab567a89c11%3A0x6faccb3dd4c625d3!2z5a6d5aGa5YWs5ZyS!5e0!3m2!1sja!2sjp!4v1568289769308!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  .address
    %p 〠515-0056
    %p 三重県松阪市宝塚町

.top
  %a{href: "/"}top