.school
  .image_kintsugi
  = image_tag 'kintsugi.JPG', size: '500x500'

  .about_kintsugi
    %h1 金継ぎについて
    %br/
    %p &nbsp; 日本で古来から行われてきた器の修復技法です。
    %p 漆で直すだけでなく 更に金粉等で装飾を行い
    %p 器の景色をより素晴らしい物へと変える技法です。
    %p このような技法を個人で行うのは難しいのでは と
    %p ​思われそうですが ご自分の割れてしまった器を愛情
    %p を掛けて直してゆく楽しさを是非味わって頂きたいです。
    %br/
    %br/
    .about_school
      %p &nbsp; ※&nbsp;当教室では合成漆ではなく本漆での作業を行う為、修復に時間が掛かります。
      %p &nbsp; ※&nbsp;漆は肌に付くとかぶれの原因になります。体調によっても影響が出る場合もある為
      %p &nbsp;&nbsp;&nbsp;&nbsp; 手袋やエプロンをして作業して頂きます。
.top
  %a{href: "/"} top